@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambay';
}

.container {
    display: flex;
    height: 100%;
}

header {
    width: 50%;
    height: 100vh;
}

#header {
    background-image: url("./image/delaney-van-JYVKaxAlp4A-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header > h1 {
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    width: 50%;
    min-height: 100%;
    background-color: black;
    color: #fff;
}

#main {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

#main > h2 {
    font-size: 2.2rem;
    padding: 1rem 0 .5rem;
    letter-spacing: 2px;
    font-weight: 600;
}

#main > h3 {
    font-size: 1.65rem;
    font-weight: 400;
}

#main p {
    font-size: .85rem;
    text-align: center;
    line-height: 1.5rem;
    max-width: 80ch;
}

#main p:nth-child(2) {
    padding: 1rem;
}

#palmer-intro-1 {
    padding: 1rem;
        }

#palmer-intro-2 {
    padding-bottom: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > div {
    padding: .4rem 0 .4rem 0;
}

form > button {
    margin: 2rem 0 3.5rem 0;
    font-size: .85rem;
    font-weight: 550;
    letter-spacing: .2rem;
    padding: 1px;
    max-width: 10rem;
    max-height: 3rem;
    display: flex;
    align-items: center;
    padding: .25rem;
}

label {
    font-size: 1rem;
    letter-spacing: .1rem;
}

input {
    min-height: 2rem;
    min-width: 15rem;
}

input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem;
    letter-spacing: .1rem;
}

p:last-child {
    font-size: .80rem;
}